extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 #{name}

        p #{job_title}


        .about-bio

        p #{about_bio} 


      .skills-contact-box.box
        h6 Skills

        ul
          each skill in skills
            li #{skill}

        h6 Contact Info

        ul
          li #{contact.phone}
          li #{contact.email}

        a.btn-link(href=social_media.linkedIn) LinkedIn
        a.btn-link(href=social_media.github) GitHub
        a.btn-link(href=social_media.twitter) Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back