extends layout.pug

block content

  article.portfolio-intro

    h1 #{heading}

    p #{portfolioDescription}


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
            a(href='/project/' + project.id)
              img.thumbnail(src=project.image_urls[0], alt=project.description)
              h5 #{project.project_name}