extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{project_name}

        p #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          each tech in technologies
            li #{tech}

        a.btn-link(href=live_link) Live Demo
        a.btn-link(href=github_link) GitHub Repo

    .project-img-box.box

      - if(image_urls.length) 
        - for (var i = 1; i < image_urls.length; i++)
            img.project-img(src=image_urls[i], alt=description)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
